* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #FFF;   
}


div#header {
    width: 1500px;
    height: 850px;
    margin: 0px auto;
    background-image: url('../image/bg-banner.jpg');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    background-position-y: top;
}

div#topo{
    width: 1140px;
    
    height: 60px;
    margin: 0px auto;
    /* border-width: 2px; */
    
    
}



div#header h1{
    margin-top: 30px;
    width: 190px;
    display: block;
    float:left;
}

ul#nav1{
    list-style: none;
    padding-left: 0;
    
    display: block;
    float:left;
    /* margin-left: 70px; */
    margin-top: 40px;
    
}

ul#nav1 li{
    float:left;
    margin-right: 30px;
}

ul#nav1 a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
}
ul#nav1 a:hover{
    color:#000;
}

div#space-nav {
    float:left;
    width: 322px;
    height:60px;
    
}

ul#nav2{
    list-style: none;
    padding-left: 0;
    display: block;
    float:left;
    /* margin-left: 70px; */
    margin-top: 40px;
    
}

ul#nav2 li{
    float:left;
    margin-left: 30px;
    
}
ul#nav2 a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
}
ul#nav2 a:hover{
    color: #000;;
}

.link-comecar{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: 1px solid #FFF; 
    padding: 5px 10px;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #FFF;
    border-radius: 20px;
    margin-right: 0px !important;
}

a.link-comecar:hover{
    color: #FFF !important;
    background: #7600ff;
}

div#banner{
    width:1500px;
    height:790px;
    margin: 0px auto;
    position: relative;
    
}

div#client{
    width:285px;
    height:100px;
    margin: 0px auto;
    position: relative;
    float:left;
    background: #FFF;
    
}
div#client img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    margin-top: 30px;
}

div#separator{
    width:1500px;
    height:1px;
    margin: 0px auto;
    border-top: 1px solid #d7d7d7;
}



div#white{
    width:1140px;
    height:100px;
    margin: 0px auto;
    /* border-top: 1px solid #000; */
    
    
}
div#services{
    width:1140px;
    height:300px;
    margin: 0px auto;
    
    
}
div#service-1{
    width:360px;
    height: 300px;
    float:left;
    background-color: #0195f5;
    border-radius: 4px;
    box-shadow: 3px 30px 50px #d7d7d7;
    position: relative;
}
div#service-2{
    width:420px;
    height: 300px;
    float:left;
    position: relative;
}

div#service-1 img{
    margin-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div#service-2 img{
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title1service{
    margin-top: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: #FFF;
}

.title2service{
    margin-top: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: #000;
}

.description1service{
    margin-top: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    /* font-weight: bold; */
    color: #fff;
}

.description2service{
    margin-top: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    /* font-weight: bold; */
    color: #000;
}

div#client-suport{
    width:1500px;
    height:479px;
    margin: 0px auto;
    position: relative;
    background-image: url('../image/pc-sitedemo.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: top;
    
}

.titlesuport{
    margin-top: 96px; 
    margin-left: 180px;
    /* text-align: center; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #000;
    position: absolute;
}

.descriptionsuport{
    position: absolute;
}

div#newsletter{
    width:1500px;
    height:413px;
    margin: 0px auto;
    position: relative;
    background-image: url('../image/bg-newsletter.jpg');
    background-repeat: repeat-x;    
}
div#topNewsletter{
    width: auto;
    height: 100px;
}
.titlenewsletter{
    text-align: center;
    font-size: 30px;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}
.descnewsletter{
    margin-top: 40px;
    text-align: center;
    font-size: 16px;
    color: #919ca2;
    font-family: Arial, Helvetica, sans-serif;
}
div#footer{
    width:1500px;
    height:97px;
    margin: 0px auto;
    position: relative;
    
}
form#form-newsletter{
    margin-top: 80px;
    text-align: center;
}
.input-email-newsletter{
    background-color: transparent;
    border-radius: 5px;
    border-color: #9da6ac;
    cursor: pointer;
    padding: 15px 10px;
    color: #9da6ac;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    

}
.button-newsletter{
    
    background-color: #0196f5;
    border-width: 0px;
    padding: 15px 60px;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #FFF;
    border-radius: 5px;
    margin-left: 20px !important;
    
}

::-webkit-input-placeholder {
    color: #9da6ac;
 }
