body{
    background-image: url('../image/bg-banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: top;
}
.border-top{
    border-top: 1px solid #d7d7d7;
}
.border-bottom{
    border-bottom: 1px solid #d7d7d7;
}

.border-teste{
    border: 2px solid #000; 
}
/* .header{
    background-image: url('../image/bg-banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: top;
} */
.banner{
    min-height: 790px; 
}


.menu a{
    margin-top: 30px !important;
    text-decoration: none;
    color: #FFF;
    
}

.menu a:hover{
    color: #000;
}


.menu img{
    margin-top: 20px;
}

.link-comecar{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: 1px solid #FFF; 
    padding: 5px 10px;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #FFF;
    border-radius: 20px;
    margin-right: 0px !important;
}

a.link-comecar:hover{
    color: #FFF !important;
    background: #7600ff;
}

.client{
    
    min-height: 100px; 
}
.client img{
    margin-top: 30px;
}

.service-blue{
    background-color: #0195f5;
    border-radius: 4px;
    box-shadow: 3px 30px 50px #d7d7d7;
}
.service-blue img{
    margin-top: 40px;
}

.title-service-blue{
    margin-top: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: #FFF;
}

.desc-service-blue{
    margin-top: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #fff;
}

.service-white{
    min-height: 300px; 
}

.service-white img{
    margin-top: 50px;
}

.title-service-white{
    margin-top: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: #000;
}

.desc-service-white{
    margin-top: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #000;
}

.white{
    min-height: 100px; 
}

.atendimento{
    background-image: url('../image/pc-sitedemo.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: top;
    min-height: 479px; 
}

.atendimento #title{
    margin-top: 95px;
    font-size: 30px;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.atendimento #desc{
    color: #b6b6b6;
    margin-bottom: 50px;
}



.btn-atendimento{
    
    background-repeat:no-repeat;
    text-decoration: none;
    border-width: 0px;
    padding: 20px 50px;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #FFF;
    border-radius: 5px;
}


.atendimento .ticket{
    background-color: #04f385;
}

a.ticket:hover{
    background-color: #127e4c;
    color: #FFF;
}


.atendimento .doc{
    background-color: #0196f5;    
    color: #FFF;
}

a.doc:hover{
    background-color: #7600ff;
    color: #FFF;
}



.newsletter{
    background-image: url('../image/bg-newsletter.jpg');
    background-repeat: repeat-x;    
    min-height: 413px; 
}

.newsletter #title{
    margin-top: 100px;
    font-size: 30px;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.newsletter #desc{
    font-size: 16px;
    color: #919ca2;
    font-family: Arial, Helvetica, sans-serif;
}

.newsletter input[type=text]{
    background-color: transparent;
    border-radius: 5px;
    border-color: #9da6ac;
    cursor: pointer;
    padding: 15px 10px;
    color: #9da6ac;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.newsletter input[type=submit]{
    background-color: #0196f5;
    border-width: 0px;
    padding: 15px 60px;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #FFF;
    border-radius: 5px;
    margin-left: 20px !important;
}

.newsletter input[type=submit]:hover{
    background: #7600ff;
}

.footer{
    min-height: 97px; 
}

.footer img{
    margin-top: 30px;
}


.menu-footer a{
    text-decoration: none;
    color: #919ca2;
}

.menu-footer a:hover{
    color: #000;
}


.menu-footer p{
    margin-top: 30px;
    font-weight: bolder;

}
/* ------------------------------------------------------------------------------------------------------------------------------------------  */
@media (max-width: 1199px) {

    .atendimento {
        background-image: none;
    }

}